#contact_modal {
    display: none;
}
.logo{
    height: 50px;
    width: 180px;
    margin-left:5vw;
    margin-top: 10px;
}
.container{
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.container_header_photographer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#container_images{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    align-content: center;
    gap:40px;
}
.photo_info{
    display: flex;
    justify-content: space-between;
    height: 50px;
    text-align: center;
    align-items: center;
}
.photo_title h3 {
    font-size:18px;
    font-weight: normal;
}
.wrapper_like{
    display: flex;
    flex-direction: row;
}

h3.photograph-catalog-like {
    font-size: 1.2em;
    margin-right: 20px;
}
.photo_clicked{
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.medias_all{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#photographer_card_header {
    width: 90vw;
    margin: 0 auto;
    padding-top: 5px;
    background-color:#fafafa;
}
.photographer_info{
    display: flex;
    flex-direction: column;
    column-gap:2px;
    flex-wrap: wrap;
    width: 200px;
}
h2{
    color:#D3573C;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 40px;
}
h3{
    color: #D3573C;
    font-size: 24px;
}
p{
    font-size: 16px;
    margin-top: -10px;
}
/************* lightbox***************/

.lightbox_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index:999;
}
.lightbox_modal.active{
    display: flex;
}
.modal_carrousel{
    width: 90%;
    height: 500px;
    position:relative;
    justify-content: center;
    align-items: center;
}
div.modal_media{
    display: flex;
    height: 97%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lightbox_modal .modal_media img,
.lightbox_modal .modal_media video {
    width: 90%;
    height: 90%;
    display: block;
    object-fit: contain;
    margin:auto;
}

.lightbox_modal h3 {
    font-size: 1.2em;
    color: #901C1C;
    text-align: center;
}
.lightbox_modal .controls {
    position: absolute;
    font-size: 40px;
    color: #901C1C;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.lightbox_modal .control_btn {
    width: 100%;
}

.lightbox_modal .controls_left {
    left: 10px;
    border: 1px solid transparent;
}

.lightbox_modal .controls_right {
    right: 10px;
    border: 1px solid transparent;
}

.lightbox_modal .controls_right:hover,
.lightbox_modal .controls_left:hover,
.lightbox_modal .controls_right:focus,
.lightbox_modal .controls_left:focus {
    outline: none;
    border: 1px solid #901C1C;
}

.lightbox_modal i {
    padding: 0 20px;
}

.lightbox_modal i {
    padding: 0 20px;
}

.lightbox_modal .modal_close_btn {
    position: absolute;
    top: 30px;
    right: 15px;
    font-size: 20px;
    z-index: 400;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    padding: 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox_modal .modal_close_btn:hover,
.lightbox_modal .modal_close_btn:focus {
    background-color: #f2bdbd;
    outline: none;
    border: 2px solid #901C1C;
}

.lightbox_modal .modal_close_btn img {
    color: #901C1C;
    width: 70%;
    height: 70%;
}


.card_lightbox{
    width: 500px;
    height: 500px;
    border:5px solid white;
}
.contact_button {
    display: none;
}
.contact_buttons, .submitting_form {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: 80px;
}
.submitting_form{
    margin:30px auto;
}
.photographer_image{
    padding-left: 150px;
}
.photographer_image img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 0 0.5;
}
.contact_modal{
    position: absolute;
    top:10px;
    margin:10px auto;
    z-index: 999;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width:500px;
    position: absolute;
    top:10px;
    left:25%;
}
.modal-title img{
    margin-left: 40px;
    height: 30px;
}
#contact_photograph{
    width: 95%;
    margin: 0 auto;
}
.close_form{
    position: absolute;
    height: 30px;
    top:50px;
    left:80%;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form label {
    color: #312E2E;
    font-size: 36px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


.menu_dropdown{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.titre_menu{
    font-size: 20px;
    font-weight: bolder;
    margin:auto 0;
}
.dropbtn{
    background-color: #901C1C;
    color: white;
    padding: 16px 26px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    width: 200px;
  }
  options{
      background-color: #901C1C;
      display: block;
      font-size: 16px;
      padding: 16px;
      text-align: center;
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    overflow: auto;
    color:white;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }
  
  .show {
    display: block;
    background-color: #901C1C;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 16px 26px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    width: 200px;
    justify-content: center;
    text-align: center;
}
#box{
    max-width: 1400px;
    margin:0 auto;
    padding-top: 80px;
}
.footer_box{
    position:fixed;
    bottom: 0;
    left:1200px;
    width: 300px;
    height: 50px;
    background-color:#D3573C;
    
}
.footer_info{
    border:2px solid green;
}
h3.titre_like{
    color:black;
    z-index: 8888;
    background-color: #D3573C;
}
p.price_footer{
    color:black;
    z-index: 8888;
}
i.arrow-down{
    position:absolute;
    top:10;
    border:2px solid red;

}
/* select dropdown 
**
*/
#menu_dropdown {
    display: inline-flex;
    position: relative;
    margin-top: 10px;
    font-size: 1.125em;
}

#menu_dropdown .filter_images{
    display: block;
}

#menu_dropdown label {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    font-weight: 700;
}

#menu_dropdown select {
    width: 170px;
    height: 70px;
    font-weight: bold;
    color: white;
    padding: 11px 15px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    text-indent: 1px;
    outline: none;

    /* hide arrow selector  */
    appearance: none;

}

#menu_dropdown select:hover,
#menu_dropdown select:focus {
    color: #000;
    background-color: #db8876;
}

#menu_dropdown select:not(:focus) {
    color: #fff;
    background-color: #901C1C;
}

#menu_dropdown option {
    line-height: 30px;
    background-color: #901C1C;
    position: absolute;
    top: 0;
    left: 50px;
    outline: none;
    color: #fff;
}

#menu_dropdown i {
    position: absolute;
    top: 25px;
    right: 15px;
    color: white;
    font-size: 1.125em;
    pointer-events: none;

}

/* rotation button sort popularity/date/title  */
.rotated {
    transform: rotate(180deg);
}